.main {
  padding: 3rem;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 300;
}

.book-col {
  display: flex;
  align-items: center;
  width: 38.2%;
}

.book-meta-col {
  flex-direction: column;
  text-align: right;
  display: flex;
  padding: 0 1rem;
}

.justify-end {
  text-align: end;
}

.col {
  width: 61.8%;
  padding: 2rem;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.clipping-info {
  margin-top: 3rem;
  text-align: end;
}

.definition-source {
  font-weight: 300;
  font-style: italic;
}

.content {
  font-size: calc(16px + 2vmin);
  font-weight: 400;
}
