.book-cover {
    width: 98px;
    height: 148px;
    margin-right: 1rem;
}

.letter-row {
    margin: 1rem 0;
}

.letter-heading {
    margin-bottom: 1rem;
}

.letter-heading-text {
    border-bottom: 5px solid #eebbc3;
}

h1 {
    display: inline-block;
    border-bottom: 5px solid #eebbc3;
}

#search-btn {
    margin-left: 8px;
}