#random-main {
  display: flex;
  padding: 3rem;
  min-height: 100vh;
  align-items: center;
}

#random-book-col {
  display: flex;
  align-items: center;
  width: 38.2%;
}

#random-book-meta-col {
  flex-direction: column;
  text-align: right;
  display: flex;
  padding: 0 1rem;
}

#random-clipping-col {
  width: 61.8%;
  padding: 2rem;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  text-align: left;
}

.random-justify-end {
  text-align: end;
}

#random-clipping-info {
  margin-top: 3rem;
  text-align: end;
}

#random-definition-source {
  font-style: italic;
}

#random-content {
  font-size: calc(16px + 2vmin);
}


/* Mobile Styles */
@media only screen and (max-width: 500px) {
  /* * {
    box-sizing: border-box;
  } */

  #random-main {
    display: block;
    padding: 2rem;
  }

  #random-clipping-col {
    width: 100%;
    justify-content: stretch;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding: 2rem 0;
  }

  #random-book-col {
    width: 100%;
    padding: 2rem 0;
  }

  #random-book-meta-col {
    padding: 0 1rem 0 0;
    display: block;
    text-align: left;
    float: left;
    width: 61.8%;
  }

  .random-justify-end {
    text-align: left;
  }

  #random-img {
    float: right;
    width: 38.2%;
    padding: 0 0 0 1rem;
  }

  #random-clipping-info {
    text-align: left;
    font-size: smaller;
  }
}